<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @employee.FirstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @employee.LastName %>
</p>

<p>
  <strong>Emp Code:</strong>
  <%= @employee.Emp_Code %>
</p>


<p>
  <strong>Address:</strong>
  <%= @employee.Address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.State %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @employee.PostalCode %>
</p>


<p>
  <strong>Phone Number:</strong>
  <%= @employee.PhoneNumber %>
</p>


<p>
  <strong>Email:</strong>
  <%= @employee.Email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employee.DOB %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
